.*
!.babelrc
!.gitignore
!.prettierrc
!.editorconfig
!.eslintrc.json
!.prettierrc
!.eslintignore
!.buildpacks
!.github

node_modules
*.tgz
packages/demo/dist
__pycache__

build/*
cmake-build-debug/*

.idea/
*.iml
